// Place all the styles related to the detail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slick-prev {
  z-index: 1;
  left: 0px !important;
}

.slick-next {
  right: 10px !important;
}

.slick-next:before, .slick-prev:before {
  font-size: 30px !important;
}

.slick-slider {
  margin-bottom: 20px !important;
}

img {
  width: 100%;
}

img.icon {
  width: 80%;
  height: auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
}

/*============================================================
フキダシデザイン
============================================================*/
.arrow_answer,
.arrow_question {
  position: relative;
  background: #fff;
  border: 1px solid #c8c8c8;
  padding: 20px 15px;
  border-radius: 10px;
  width: 70%;
  font-size: 13px;
}

.arrow_question {
  float: right;
  margin-right: 20px;
}

.arrow_answer:after,
.arrow_answer:before,
.arrow_question:after,
.arrow_question:before {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_question:after,
.arrow_question:before { right: 100%; }

.arrow_answer:after,
.arrow_answer:before { left: 100%; }

.arrow_answer:after,
.arrow_question:after {
  border-color: rgba(255, 255, 255, 0);
  border-width: 15px;
  margin-top: -15px;
}

.arrow_answer:after { border-left-color: #fff ; }
.arrow_question:after { border-right-color: #fff ; }
.arrow_answer:before,
.arrow_question:before {
  border-color: rgba(200, 200, 200, 0);
  border-width: 16px;
  margin-top: -16px;
}

.arrow_answer:before { border-left-color: #c8c8c8; }
.arrow_question:before { border-right-color: #c8c8c8; }
.question_image {
  float: left;
  width: 20%;
}

.answer_image {
  float: right;
  margin-right: 20px;
}

.answer_image img,
.question_image img { border-radius: 50px; }

.question_Box {
  margin-bottom: 25px;
  overflow: hidden;
}
